# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
[*.md]
trim_trailing_whitespace = false

# Npm package files
[{package,package-lock,npm-shrinkwrap}.json]
indent_size = 2

# WebStorm configuration
[.idea/**/*.xml]
indent_size = 2
insert_final_newline = false

# YAML
[*.yml]
indent_size = 2
