# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
# Icon must end with two carriage returns (\r)
Icon

# Windows
[Dd]esktop.ini
ehthumbs.db
Thumbs.db

# Temporary
*~
*.bak
*.tmp
*.temp
tmp/
temp/

# Logs
*.log
logs/

# Build
dist/

# Node.js
node_modules/

# Vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# WebStorm
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/shelf/
