# Use a whitelist approach for this file!
#
# Note the following are *always* included:
# - package.json
# - README (and its variants)
# - LICENSE (and its variants)
# - CHANGELOG (and its variants)

# Ignore everything
*

# Compiled output
!dist/**
